@media screen and (max-width:576px) {
   /* common style */
   
   .text-secondary, .section-title{
    font-size:25px;
    }
    .section-description , .card p{
        font-size: 15px;
    }
   
   /*header  */
    .navber{
        flex-direction: column;
        padding: 40px 50px 70px;
        justify-content: center;
    }
    .nav-link-container{
        flex-direction: column;
        justify-content: center;
    }
    .nav-link{
        padding: 10px 10px;
    }
    /* banner  */

    .banner{
        flex-direction: column-reverse;
    }
    .banner-context{
        max-width: fit-content;
        margin: 20px auto 50px;
        padding:60px 30px ;
    }
    .banner-context h1{
        font-size: 65px;
    }
    .banner-context h3{
        font-size: 40px;
    }
    .banner-context ul li{
        font-size: 18px;
    }
    .btn-primary , .btn-secondary{
        padding: 15px 20px;
        font-size: 18px;
    }
    .btn-group{
        text-align: center;
    }
    /* online game section */
    .online-game-section{
        margin: 50px auto;
        padding: 20px 10px;
    }
    .online-game-section p{
        margin-bottom: 30px;
    }
    .card-container{
        grid-template-columns: 1fr;
    }
    .card{
        padding: 0px 30px;
    }


    /* play online section */
    .play-online{
        flex-direction: column-reverse;
        padding: 20px 0;
        text-align: center;
        margin: 50px auto 100px;
        gap: 50px;
    }
.play-img-container {
    max-width: 300px;
}
    #play-img-2{
        max-width: 100px;
        position: absolute;
        bottom: -30px;
        right: -50px;
    }
    .play-online-info p{
        max-width: 300px;
    }
    
/* icon game section */
.icon-game-section{
    padding:50px 10px;
    display:flex;
    flex-wrap: wrap;
    gap: 10px;
    
}
.icon-card {
    margin: 0;
    padding: 10px 20px ;
    max-width: 80px;
    gap: 10px;
}
.icon-card img{
    width: 30px;
}
.icon-card p{
    font-size: 12px;
}

/*footer */
.footer{
    padding: 80px;
}
.footer-title h1{
    font-size: 32px;
}
.footer-link-container{
    gap: 15px;
    flex-wrap: wrap;
}
.footer-link-container li{
    font-size: 16px;
}
.teams-condition{
    gap: 20px;
}
.teams-condition li , .copy-right p{
    font-weight:  400;
}

}