@media screen and (max-width:576px) {
    .navber{
        flex-direction: column;
        padding: 100px 50px 70px;
        justify-content: center;
    }
    .nav-link-container{
        flex-direction: column;
        justify-content: center;
    }
    .nav-link{
        padding: 10px 10px;
    }
}