/* google font */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Work+Sans:wght@400;500;600;700;800&display=swap");
/*shared style*/
*{
  margin: 0;
  padding: 0;
  font-family: Work Sans, sans-serif;
}
.text-primary {
  color: #ff42a5;
}
.text-secondary{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
 font-size: 48px;
 font-weight: 700;
 }
.btn-primary{
  border-radius: 48px;
  background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
  padding: 20px 40px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  border: none;
}
.btn-secondary{
  background-color: rgba(78, 197, 247, 1);
  border-radius: 48px;
  padding: 20px 40px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  border: none;
  margin-left: 25px;

}
.section-title{
  font-size: 48px;
  font-weight: 700;
}
.section-description , .card p{
  color: #534C64;
 font-size: 18px;
 font-weight: 400;
line-height: 30px; 
}

/* header */
.navber {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 240px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-logo-container {
  display: flex;
  gap: 20px;
  align-items: center;
}
.nav-logo-container img {
  max-height: 40px;
  max-width: 85px;
}
.nav-logo-container h1 {
  font-size: 45px;
  font-weight: 700;
  color: #0b0223;
}
.nav-link-container {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-evenly;

}
.nav-link {
  list-style: none;
}
.nav-link a {
  text-decoration: none;
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
}
.nav-btn {
  font-size: 18px;
  font-weight: 500;
  color: #3c354f;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 15px 25px;
  border: none;
}
.nav-btn > i {
  padding: 0 10px;
}

/* banner style start here */
.banner {
  display: flex;
  gap: 50px;
  justify-content: flex-start;
}
.banner-context {
  background-image: url("images/Group 14.png");
  width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-context h3 {
  font-size: 48px;
  font-weight: 600;
  color: #0b0223;
}
.banner-context h1 {
  font-size: 95px;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-context ul li{
  list-style: none;
  font-size: 20px;
  font-weight: 500;
  padding-top:15px ;margin-bottom:15px ;

}
.banner-context ul li span{
  margin-left: 10px;
}
.btn-group{
  margin-top: 40px;
}

.banner-img {
  max-width: 710px;
}
.banner-img img {
  width: 100%;
}



/* main part started */

/* online game section */
.online-game-section{
  margin: 100px 0;
  padding: 0 240px;
}
.online-game-section h2{
  text-align: center;
}
 .online-game-section > p{
  text-align: center;
  margin: 10px 0 50px;
}
.card-container{
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(4, 1fr);
}
.card img{
  width: 100%;
}